<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>

    <title>Implementierung</title>
</head>
<body>
<!--  Start Upper Bar -->
<div class="upper-bar">
    <div class="container">
    </div>
</div>
<!-- End Upper Bar -->
<!-- Start Nav bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="navbar-nav mr-auto" id="myDIVimple">
                <li class="nav-impl active">
                    <a class="nav-link" href="/">Home
                        <span
                                class="sr-only">(current)</span> </a>
                </li>
                <li class="nav-impl">
                    <a class="nav-link" id="impllement" href="#impl">Implementierung der Algorithmen</a>
                </li>
            </ul>
            <h2 class="navbar-brand brand-name">
                <a href="/"><img class="img-fluid" src="images/download.png"></a>
            </h2>
        </div>
    </div>
</nav>
<!-- End Nav Bar -->

<!-- Start Slider -->
<div class="slider">
    <div id="main-slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <h2><span>Implementierung von Algorithmen</span>
            </h2>
            <div class="overlay"></div>
            <div class="carousel-item carousel-twwo active">
            </div>
            <div class="carousel-item carousel-thhree">
            </div>
            <div class="carousel-item carousel-foour">
            </div>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
            <li data-target="#main-slider" data-slide-to="2"></li>
        </ol>
    </div>
</div>
<!-- End Slider -->

<!--Start Algorithm Implementation-->
<div class="startBody">

    <div class="implementierung">
        <div class="container">
            <div class="myHeading">
                <h2 class="implemen" id="impl"> Implementierung der Algorithmen</h2>
            </div>
            <div class="anweisung">
                <h3>3 Schritte für die Implementierung
                </h3>
                <p>Um die Algorithmen an dem Graphen implementieren zu können, müssen die folgenden drei Schritten
                    gefolgt werden:</p>
                <ul>
                    <li>Eine Graph-Datei hochladen. Der Graph kann ein DIMACS-Graph sein oder ein selbst
                        generieter Graph. <br/>Die Graph-Datei muss wie eine von diesen Fotos aussehen.<br/>
                        Beachten Sie, dass die maximal zulässige Größe des Graphen ist 1048.576 kb.
                    </li>
                    <li>mindestens ein Algorithmus muss ausgewählt werden.</li>
                    <li>den Submit Button Klicken</li>
                </ul>
            </div>
            <div class="myHeading">
                <h3>Implementierung der exakten und heuristischen Algorithmen / Das Ergebnis der
                    Färbungsalgorithmen</h3>
            </div>

            <div class="uploadContainer">
                <div class="upload-header">
                    <h3>Graph Hochladen</h3>
                </div>
                <div class="upload-content">
                    <div class="single-upload">
                        <h3>File Hochladen</h3>
                        <form method="POST" action="/upload" target="_blank" enctype="multipart/form-data">
                            <input type="file" name="file" id="myGraphSubmit" required=""/>
                            <button type="submit" class="primary submit-btn">Hochladen</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="submitAlgor">
                <div class="multiselect">
                    <div class="selectBox" onclick="showCheckboxes()">
                        <select>
                            <option>Algorithmus auswählen</option>
                        </select>
                        <div class="overSelect"></div>
                    </div>
                    <form class="CheckBox" action="editCustomer" method="post">
                        <div id="checkboxes">
                            <option class="divide">Algorithmen</option>
                            <!-- <br/> -->
                            <label>
                                <input type="checkbox" class="chk" value="RNG1"/>RNG1
                            </label>
                            <label>
                                <input type="checkbox" class="chk" value="RNG2"/>RNG2
                            </label>
                            <label>
                                <input type="checkbox" class="chk" value="RNG3"/>RNG3
                            </label>
                        </div>
                    </form>
                </div>
                <button class="submitAlgorithm">Submit</button>
            </div>
            <div id="showmyjson">
            </div>
            <!--End Algorithm Implementation-->
        </div>
    </div>
    <footer class="bd-footer text-muted">
        <div class="container">
            <ul class="bd-footer-links">
                <li><a href="https://github.com/ychakr2s/WebAbschlussRepository">GitHub</a></li>
                <li><a href="/references">References</a></li>
                <li><a href="/impressum">Impressum</a></li>
            </ul>
            <p>Entworfen und gebaut mit all der Liebe der Welt von @Osama El Arabi.</p>
        </div>
    </footer>
</div>
<!--  End IMPLEMENTIERUNG -->

<script src="js/jquery-3.4.0.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
<script language="javascript" type="text/javascript">
    //<![CDATA[
    $(document).ready(function () {

        $('.submitAlgorithm').click(function () {
            submitSelectedAlgorithms();
        });
    });
    //]]>
</script>
</body>
</html>